body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}
.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(252, 4, 4, 0.1);
}
.main-content-section{
    padding: 100px 90px;
}
.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.about-me-section{
    margin-bottom: 40px;
}
.about-me-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000; 
    margin-bottom: 20px;
}
.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
    color: #000; 
}
.about-me-discription{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-projects-section{
    margin-bottom: 50px;
}
.my-projects-list{
    padding: 0 0 0 17px;
    color: #000;
    font-weight: bold;
}
.my-projects-link{
    color: #595959;
}
.my-projects-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
b{
    color: #000000;
}
.my-work-experience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.my-work-experience-period,
.my-education-period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.summary-my-work-experience{
    padding: 0 0 0 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-work-experience-company-block{
    margin: 0 0 15px 0;
}
.work-experience-company-education{
    color: #FB6D3A;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.my-education-position{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin:0 0 10px 0;
}
.sidebar-section{
  background:#1E2939;
  width: 370px;
  padding: 40px 0;
}
.photo {
    width: 370px;
}
.icon {
    width: 25px;
    height: 25px;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section{
    margin: 50px 0 0 40px;
}
.saidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.contact {
    list-style-type: none;
    padding: 0 0 0 0px;
}
.contact li{
    display: flex;
    align-items: center;
}
.contacts-section-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
    margin-left: 10px;
}
.tech-skills-list,
.soft-skills-list{
    padding: 0 0 0 17px;
}
.tech-skills-item,
.soft-skills-item{
    color: #FB6D3A;
}
.tech-skills-item-text,
.soft-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}